@page
@model MovieList.Models.Movie

<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Welcome to the Movie List</h1>
    <p>Home Page of the Movie List :)</p>
</body>
</html>
